<form class="form">
<mat-form-field>
  <input matInput type="text" placeholder="Search Movie" name="query" [(ngModel)]="query">
  <button mat-button *ngIf="query" matSuffix mat-icon-button aria-label="Clear" (click)="query= ''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<!--    <input  placeholder="search movie" [(ngModel)]="query" name="query">-->
  <button mat-button mat-raised-button color="primary" (click)="query" routerLink="/results/{{query}}">Search</button>
</form>



